.menu .menu-alerts-container .menu-alerts {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu .menu-alerts-container .menu-alerts .menu-alerts-text p {
  font-size: 1.4rem;
}
.menu .menu-alerts-container .menu-alerts .menu-alerts-icons svg {
  scale: 0.8;
}

.menu .menu-alerts-container .menu-alerts .menu-alerts-text,
.menu .menu-alerts-container .menu-alerts .menu-alerts-icons {
  position: relative;
}

.menu .menu-alerts-container .menu-alerts.error .menu-alerts-text p,
.menu .menu-alerts-container .menu-alerts.error .menu-alerts-icons svg {
  color: rgb(255, 47, 113);
}
.menu .menu-alerts-container .menu-alerts.success .menu-alerts-text p,
.menu .menu-alerts-container .menu-alerts.success .menu-alerts-icons svg {
  color: rgb(92, 198, 251);
}

.menu .menu-alerts-container .menu-alerts .menu-alerts-text p:nth-child(2),
.menu .menu-alerts-container .menu-alerts .menu-alerts-icons svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  filter: blur(3px);
  opacity: 1;
}

.menu .menu-alerts-container .menu-alerts.error .menu-alerts-text p:nth-child(2),
.menu .menu-alerts-container .menu-alerts.error .menu-alerts-icons svg:nth-child(2) {
  color: rgba(173, 3, 102, 0.604);
}

.menu .menu-alerts-container .menu-alerts.success .menu-alerts-text p:nth-child(2),
.menu .menu-alerts-container .menu-alerts.success .menu-alerts-icons svg:nth-child(2) {
  color: rgba(139, 214, 252, 0.609);
}
