.menu .menu-alerts-container .menu-alerts {
  font-size: 1.4rem;
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
}
.menu .menu-alerts-container .menu-alerts.error p {
  color: rgb(255, 47, 113);
}
.menu .menu-alerts-container .menu-alerts.success p {
  color: rgb(92, 198, 251);
}

.menu .menu-alerts-container .menu-alerts p:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  filter: blur(3px);
  opacity: 1;
}

.menu .menu-alerts-container .menu-alerts.error p:nth-child(2) {
  color: rgb(173, 3, 102);
}

.menu .menu-alerts-container .menu-alerts.success p:nth-child(2) {
  color: rgb(139, 214, 252);
}
