:root {
  --dark-color: #0f0510;
  --light-color: rgb(58, 6, 61);
  --middle-color: #9c61b4;
  --test-color: #e2a3fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Tilt Neon", sans-serif;
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(var(--light-color) 0%, var(--dark-color) 75%);
  overflow-x: hidden;
  height: 100dvh;
  cursor: url("./cursor.png"), pointer;
}

button,
a {
  cursor: inherit;
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.title {
  position: relative;
  padding-top: 4.8rem;
  font-size: 6rem;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}

.title::before {
  position: absolute;
  z-index: -1;
  color: #d16bfa;
  filter: blur(10px);
  content: "Tic Tac Toe";
}
