@media (max-width: 54em) {
  .menu-container .menu {
    padding-top: 3.6rem;
    padding-bottom: 2.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
  }
  .letter {
    font-size: 14rem;
  }
  .letter-1 {
    left: 4rem;
    top: 26rem;
  }
  .letter-2 {
    right: 8rem;
    bottom: -6rem;
  }

  .menu .divider.duo,
  .menu .divider.solo,
  .menu .divider.duo.extra-margin {
    height: 4px;
  }

  .menu .divider {
    margin: 1.2rem 0rem;
    height: 4px;
    width: 100%;
  }

  .menu .connection {
    top: 1rem;
    right: 1rem;
  }
  .private-toggle-container {
    top: 4.2rem;
    right: 1rem;
    justify-content: flex-start;
  }

  .player-menu {
    gap: 1rem;
    padding-left: 2.4rem;
  }

  .player-menu.extra-margin {
    padding: 2.4rem 1rem;
    padding-top: 4.8rem;
  }

  .menu .menu-options.extra-margin {
    margin-bottom: 1rem;
  }

  .menu-options.higher-width {
    width: 30rem;
    height: 18rem;
    padding: 0rem;
  }
  .menu-options.lower-w {
    height: 14rem;
  }
  .menu-options.lower-w-2 {
    height: 8rem;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 56.25%;
  }
  .menu .player-menu .arrow-up-down svg {
    scale: 1.5;
  }
  .menu .player-menu .player-1 .dices svg {
    scale: 1.3;
  }
  .start-btn-container .start-btn {
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 132, 218);
  }
}

@media (max-width: 26em) {
  .menu-container .menu {
    padding-top: 3.2rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .menu .divider {
    width: 88%;
  }
  .player-menu.extra-margin {
    padding: 2.4rem;
    padding-top: 4.6rem;
  }
  .menu .player-menu .player-1 input,
  .menu .player-menu .player-2 .user {
    margin-left: 1.4rem;
  }

  .menu .player-menu .player-1 input {
    max-inline-size: 25rem;
  }
}

@media (max-width: 22em) {
  html {
    font-size: 50%;
  }
  .menu .player-menu .arrow-up-down svg {
    scale: 1.3;
  }
  .menu .player-menu .player-1 .dices svg {
    scale: 1.1;
  }
  .menu .divider {
    margin: 0.4rem 0;
  }
}

@media (max-width: 40em) {
  .game-grid .grid {
    grid-template-columns: 136px 136px 136px;
    grid-template-rows: 136px 136px 136px;
  }
  .game-grid .grid .box {
    font-size: 10.8rem;
  }
  .turn-display .player {
    font-size: 5.4rem;
  }
  .turn-display .timer {
    width: 110%;
  }
  .turn-display .timer {
    height: 0.9rem;
  }
}
@media (max-width: 32em) {
  .game-grid .grid {
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
  }
  .game-grid .grid .box {
    font-size: 10rem;
  }
  .turn-display .player {
    font-size: 5.2rem;
  }
  .turn-display .timer {
    width: 106%;
  }
}
@media (max-width: 27em) {
  .game-grid .grid {
    grid-template-columns: 112px 112px 112px;
    grid-template-rows: 112px 112px 112px;
  }
  .game-grid .grid .box {
    font-size: 9.2rem;
  }
  .turn-display .player {
    font-size: 4.8rem;
  }
  .turn-display .timer {
    width: 102%;
  }
}
@media (max-width: 23em) {
  .game-grid .grid {
    grid-template-columns: 102px 102px 102px;
    grid-template-rows: 102px 102px 102px;
  }

  .turn-display .player {
    font-size: 4.2rem;
  }
}
