.turn-display .player {
  text-align: center;
  font-size: 4.8rem;
  color: white;
  font-weight: 300;
}
.turn-display .player.default {
  text-shadow: 0px 0px 5px var(--test-color);
}

.turn-display .player.win {
  text-shadow: 0px 0px 5px rgb(22, 255, 236);
}

.turn-display .player.loss {
  text-shadow: 0px 0px 5px rgb(195, 0, 62);
}

.turn-display .timer {
  position: relative;
  width: 100%;
  height: 1.6rem;
  background-color: rgba(0, 0, 0, 0.504);
  margin-top: 2.4rem;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid white;
  box-shadow: 0px 0px 5px var(--test-color);
}

.turn-display .timer .clock {
  background-color: var(--test-color);
  height: 100%;
  width: 100%;
}
