.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: relative;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.701);
  padding: 4rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.539);
}
