.game-grid .grid {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-template-rows: 140px 140px 140px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
}
