.game-grid .grid {
  margin-top: 8.4rem;
  display: grid;
  grid-template-columns: 148px 148px 148px;
  grid-template-rows: 148px 148px 148px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
}
