.menu .divider {
  position: relative;
  background-color: rgb(40, 23, 45);
  border-radius: 2rem;
  width: 4px;
  margin: 0rem 3.2rem;
}

.menu .divider.solo {
  height: 12rem;
}

.menu .divider.duo {
  height: 24rem;
}
