.start-btn-container {
  align-self: center;
  margin-bottom: 10rem;
  height: max-content;
  padding: 3.6rem;
  transition: 0.4s opacity ease-in-out;
  position: relative;
  text-align: center;
}

.start-btn {
  letter-spacing: 1rem;
  background-color: transparent;
  border: none;
  font-size: 5.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.35);
  text-shadow: 0px 0px 5px transparent;
  transition: 0.5s all ease;
  opacity: 1;
}

.start-btn-container .start-btn.hover-effect {
  color: white;
  text-shadow: 0px 0px 5px rgb(255, 132, 218);
}

.start-btn-container .start-btn.hover-effect.pulsating {
  animation: pulse 2s ease-in-out infinite;
}

.start-btn-container .error-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: max-content;
  color: #ff4372;
  font-size: 2rem;
  text-shadow: 0px 0px 5px #ff43b1;
}
