.start-btn-container {
  margin-top: 20rem;
  height: max-content;
  padding: 3.6rem;
  transition: 0.4s opacity ease-in-out;
  position: relative;
  text-align: center;
}

.start-btn {
  letter-spacing: 1rem;
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 5.2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.35);
  transition: 0.5s all ease;
  opacity: 1;
}

.start-btn:nth-child(2) {
  transition: inherit;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: rgb(255, 132, 218);
  filter: blur(2px);
  opacity: 0;
}

.lobby-connecting {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.6rem;
  text-shadow: 0px 0px 10px white;
  color: var(--test-color);
}

.start-btn-container .error-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: max-content;
}

.start-btn-container .error-container .error-message {
  color: #ff4372;
  font-size: 2rem;
}

.start-btn-container .error-container .error-message:nth-child(2) {
  position: absolute;
  filter: blur(2px);
  z-index: -1;
  color: #ff43b1;
  top: 0;
  left: 0;
}
