.menu .connection {
  top: 1rem;
  right: 1rem;
  position: absolute;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.menu .connection.connecting {
  animation: pulse 3s ease-in-out infinite;
}

.menu .connection .connection-text {
  font-size: 1.3rem;
}

.menu .connection .connected {
  color: #79fbbe;
  text-shadow: 0px 0px 5px #71ffc1a3;
}

.menu .connection .connecting {
  color: rgb(96, 213, 255);
  text-shadow: 0px 0px 5px rgb(71, 159, 190);
}

.menu .connection .error {
  color: #ff2b60;
  text-shadow: 0px 0px 5px #ff43b1cc;
}

.menu .connection .svg {
  width: 1.8rem;
  height: 1.8rem;
}
.menu .connection .svg-container {
  position: relative;
}
.menu .connection .svg-container .svg:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(3px);
}
.menu .connection.connected .svg-container .svg {
  color: #79fbbe;
}
.menu .connection.connected .svg-container .svg:nth-child(2) {
  color: #71ffc1a3;
}

.menu .connection.connecting .svg-container .svg {
  color: rgb(96, 213, 255);
}

.menu .connection.connecting .svg-container .svg:nth-child(2) {
  color: rgb(71, 159, 190);
}
.menu .connection.error .svg-container .svg {
  color: #ff2b60;
}

.menu .connection.error .svg-container .svg:nth-child(2) {
  color: #ff43b1cc;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
